<RadzenText TextStyle="TextStyle.Body1" class="fs-6"><b>User Story stockée sur MongoDb</b></RadzenText>

<RadzenStack Orientation="Orientation.Vertical" class="rz-mx-auto rz-mt-12">
    <RadzenText TextStyle="TextStyle.Body1" class="fs-4"><b>Exemple de formulaire à tester</b></RadzenText>

    <RadzenButton ButtonType="ButtonType.Submit" Text="Remplir avec des données valides" class="rz-mx-auto bg-primary"></RadzenButton>
    <RadzenButton ButtonType="ButtonType.Submit" Text="Remplir avec des données invalides" class="rz-mx-auto bg-danger"></RadzenButton>

    <RadzenCard class="rz-mx-auto">
        <RadzenFormField Text="Nom" Style="width: 100%;">
            <RadzenTextBox Placeholder="Jean" />
        </RadzenFormField>

        <RadzenFormField Text="Prénom" Style="width: 100%;">
            <RadzenTextBox Placeholder="Dupont" />
        </RadzenFormField>

        <RadzenFormField Text="Email" Style="width: 100%;">
            <RadzenTextBox Name="Email" />
            <RadzenEmailValidator Component="Email" Text="Provide a valid email address" />
        </RadzenFormField>

        <RadzenFormField Text="Mot de passe" Style="width: 100%;">
            <RadzenPassword Placeholder="Mot de Passe" />
        </RadzenFormField>

        <RadzenFormField Text="Confirmation Mot de Passe" Style="width: 100%;">
            <RadzenPassword Placeholder="Mot de Passe" />
        </RadzenFormField>


    </RadzenCard>
    <RadzenButton ButtonType="ButtonType.Submit" Text="Submit" class="rz-mx-auto"></RadzenButton>

</RadzenStack>

@if (userStory is not null)
{
    <RadzenStack Orientation="Orientation.Vertical" class="rz-mx-auto rz-my-12">
        <RadzenText TextStyle="TextStyle.Body1" class="fs-4"><b>User Story</b></RadzenText>

        <RadzenCard class="rz-mx-auto">
            <table class="table table-striped-columns">
                <thead>
                    <tr>
                        <th scope="col">Nom de l'US</th>
                        <th scope="col">Risque</th>
                        <th scope="col">Priorité</th>
                        <th scope="col">Environnement</th>
                        <th scope="col">Branche à utiliser</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>@userStory.NomUs</td>
                        <td>@userStory.Risque</td>
                        <td>@userStory.Priorite</td>
                        <td>@userStory.Environnement</td>
                        <td>@userStory.Branche</td>
                    </tr>
                </tbody>
            </table>

            <p>@userStory.DescriptionDetaillee</p>


            <RadzenText TextStyle="TextStyle.Body1" class="rz-my-6"><b>Test Case Valide</b></RadzenText>

            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">Id Test Case</th>
                        <th scope="col">Prérequis</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td scope="row">@userStory.TestCaseValide._id</td>
                        <td scope="row">@userStory.TestCaseValide.Prerequis</td>
                    </tr>
                </tbody>
            </table>

            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">Numéro Étape</th>
                        <th scope="col">Action</th>
                        <th scope="col">Résultat attendu</th>
                        <th scope="col">Résultat obtenu</th>
                        <th scope="col">Pass/Fail</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var etapeTestCase in userStory.TestCaseValide.EtapesTestCase)
                    {
                        <tr>
                            <td>@etapeTestCase._id</td>
                            <td>@etapeTestCase.Action</td>
                            <td>@etapeTestCase.ResultatAttendu</td>
                            <td>@etapeTestCase.ResultatObtenu</td>
                            <td>@etapeTestCase.PassFail</td>
                        </tr>
                    }
                </tbody>
            </table>

        </RadzenCard>
    </RadzenStack>
}


<RadzenStack Orientation="Orientation.Vertical" class="rz-mx-auto rz-my-12">
    <RadzenText TextStyle="TextStyle.Body1" class="fs-4"><b>Test Fonctionnel Test Case Valide</b></RadzenText>

    <RadzenCard class="rz-my-12 rz-mx-auto">
        <RadzenCard class="rz-shadow-0 rz-border-radius-0 rz-p-8" style="margin: 1rem calc(-1 * var(--rz-card-padding));">
            <RadzenImage Path="images/TestFonctionnel.png" class="rz-mb-2" />
        </RadzenCard>
    </RadzenCard>
</RadzenStack>

<RadzenStack Orientation="Orientation.Vertical" class="rz-mx-auto rz-my-12">
    <RadzenText TextStyle="TextStyle.Body1" class="fs-4"><b>Test Unitaire insertion en base</b></RadzenText>
    <RadzenCard class="rz-my-12 rz-mx-auto">
        <RadzenCard class="rz-shadow-0 rz-border-radius-0 rz-p-8" style="margin: 1rem calc(-1 * var(--rz-card-padding));">
            <RadzenImage Path="images/TestUnitaire.png" class="rz-mb-2" />
        </RadzenCard>
    </RadzenCard>
</RadzenStack>

<RadzenStack Orientation="Orientation.Vertical" class="rz-mx-auto rz-my-12">
    <RadzenText TextStyle="TextStyle.Body1" class="fs-4"><b>Tests API avec Postman et fichier http</b></RadzenText>

    <RadzenCard class="rz-mx-auto">
        <RadzenCard class="rz-shadow-0 rz-border-radius-0 rz-p-8" style="margin: 1rem calc(-1 * var(--rz-card-padding));">
            <RadzenImage Path="images/Postman.png" class="rz-mb-2" />
        </RadzenCard>
    </RadzenCard>
</RadzenStack>

<RadzenStack Orientation="Orientation.Vertical" class="rz-mx-auto rz-my-12">
    <RadzenText TextStyle="TextStyle.Body1" class="fs-4"><b>Sonarqube</b></RadzenText>
    <RadzenCard class="rz-my-12 rz-mx-auto">
        <RadzenCard class="rz-shadow-0 rz-border-radius-0 rz-p-8" style="margin: 1rem calc(-1 * var(--rz-card-padding));">
            <RadzenImage Path="images/Sonar.png" class="rz-mb-2" />
        </RadzenCard>
    </RadzenCard>
</RadzenStack>


